@use 'colors' as *;

// Smooth scrolling
html {
    scroll-behavior: smooth;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container,
.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

body {
    font-family: 'Crimson Text', serif;   
    color: $off-white; 
    background-color: $black;
    overflow-x: hidden;
}
.lock {
    overflow: hidden;
}
