@use 'colors' as *;
@use 'mixins' as *;

header {
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1;
    &::after {
        background: $black-trans;
        content: "";
        width: 100%;
        height: 0%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        display: block;
        transition: all 0.3s ease-in-out;
        z-index: -1;
    }
    &.scrolling {
        &::after{
            height: 100%;
        }
    }
    .wrapper {
        padding: 1.2rem;
    }
    .logo {
        width: 200px;
        height: auto;
        @include break(med) {
            width: 300px;
        }
    }
    .menu-toggle {
        @include break(wide) {
            visibility: hidden;
        }
    }
    .nav-icon {
        width: 40px;
        height: 30px;
        position: relative;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        cursor: pointer;
        z-index: 10;
        span {
            display: block;
            position: absolute;
            height: 4px;
            width: 100%;
            background-color: #f2f2f2;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: 0.25s ease-in-out;
            &:nth-child(1) {
                top: 0px;
                transform-origin: left center;
                background-color: $black;
            }
            &:nth-child(2) {
                top: 12px;
                transform-origin: left center;
                background-color: $red;
            }
            &:nth-child(3) {
                top: 24px;
                transform-origin: left center;
                background-color: $yellow;
            }
        }
        &.open span {
            &:nth-child(1) {
                transform: rotate(45deg);
                top: -2px;
                left: 8px;
                width: 80%;
                background-color: $yellow;
            }
            &:nth-child(2) {
                width: 0%;
                opacity: 0;
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
                top: 21px;
                left: 8px;
                width: 80%;
            }
        }
        @include break(wide){
            visibility: hidden;
        }
    }
    .mainnav {
        .menu {
            visibility: hidden;
            max-height: 100vh;
            width: 100%;
            height: 100%;
            opacity: 0.95;
            background-color: $black;
            position: fixed;
            top: 0;
            right: -100%;
            z-index: 5;
            transition: all 0.5s ease-in-out;
            @include break(wide){
                visibility: visible;
                position: static;
                background-color: transparent;
            }
            .menu-links {
                width: 100%;
                height: 100%;
                padding: 4rem 2rem;
                @include break(wide){
                    display: flex;
                    padding:0;
                    justify-content: flex-end;
                    align-items: center;
                    
                }
                a {
                    font-family: 'Lato', sans-serif;
                    color: $off-white;
                    line-height: 5rem;
                    font-size: 2rem;
                    text-transform: uppercase;
                    @include break(wide){
                        font-size: 1.2rem;
                        line-height: 1.2rem;
                        margin-right: 1.4rem;
                    }
                    @include break(exwide){
                        font-size: 1.5rem;
                        line-height: 1.5rem;
                        margin-right: 2.5rem;
                    }
                }
            }
            .current-menu-item {
                position: relative;
                a {
                    &::after {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        background-color: $yellow;
                        height: 4px;
                        top: 50%;
                        left: -1.5rem;
                        margin: auto;
                        transition: all 0.3s;
                        width: 20px;
                        @include break(wide){
                            height: 0;
                            width: 0;
                            opacity: 0;
                            visibility: hidden;
                        }
                    }
                    @include break(wide){
                        color: $yellow;
                    }
                }
            }
        }
        .show-nav {
            visibility: visible;
            right: 0;
        }

        @include break(wide){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}
