@use 'colors' as *;
@use 'mixins' as *;

.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: $black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;

    .hero-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        video {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            top: 0;
            left: 0;
            z-index: 0;
        }
    }

    .text {
        position: relative;
        z-index: 0;
        text-align: center;
        h2 {
            letter-spacing: 5px;
            word-spacing: 10px;
        }
        p {
            color: $yellow;
            font-size: 1.5rem;
            letter-spacing: 4px;
            text-transform: uppercase;
            // background: -webkit-linear-gradient($black, $red, $yellow);
            // // background: linear-gradient(to right, $black 0%, $red 20%, $yellow 100%);
            // background-clip: text;
            // -webkit-text-fill-color: transparent;
        }
    }

    .inquiry {
        position: relative;
        z-index: 0;
        text-align: center;
        margin-top: 4rem;

        a {
            color: #f2f2f2;
            font-size: 1rem;
            letter-spacing: 2px;
            text-transform: uppercase;
            padding: 1rem;
            border: 3px solid;
            border-image: linear-gradient($black, $red, $yellow) 1;
        }
    }
}

.makes {
    background-color: $black;
    text-align: center;
    padding: 4rem 0;
    .wrapper {
        padding: 4rem 1.2rem;
    }
    h3{
        margin: 0 1rem 4rem;
    }
    .gallery {

        .make{
            position: relative;
            margin-bottom: 1rem;
            .bg {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .car{
                position: absolute;
                left: 0;
                top:0;
            }
            .text {
                text-align: center;
                // margin-top: -1rem;
                p{
                    letter-spacing: 3px;
                    font-family:'Lora', serif;
                    font-weight: bold;
                    font-size: 1rem;

                }
            }

        }
    }
}