@use 'colors' as *;
@use 'mixins' as *;

h1, 
h2,
h3, 
h4, 
h5, 
h6,
p,
a {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: $off-white;
}

h2 {
    font-size: 3rem;
    @include break(med) {
        font-size: 4rem;
    }
}

h3 {
    font-size: 2rem;
    @include break(med) {
        font-size: 3rem;
    }
}

a {
    font-size: 1rem;
    text-decoration: none;

}